@if (store.isConnected()) {
  <div class="flex flex-col gap-4 pt-4">
    <div class="flex justify-center font-bold text-2xl">Vous êtes déjà identifié</div>
    <div class="flex justify-center">
      <a size="small" routerLink="/" pButton>Retour à la page d'accueil</a>
    </div>
  </div>
} @else {
  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <img src="images/logo.svg" alt="RERO +" class="mx-auto h-15 w-auto" />
      <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-gray-900">
        Connectez-vous à votre compte
      </h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <form [formRoot]="loginForm" class="space-y-6">
        <div class="flex flex-col gap-2">
          <label for="email" class="block text-sm/6 font-medium text-gray-900">Utilisateur</label>
          <div class="text-sm text-gray-400 italic">Utilisateur valide: admin</div>
          <div>
            <input
              pInputText
              [formField]="loginForm.username"
              class="block w-full"
              [class.untouched-field]="
                !loginForm.username().dirty() && !loginForm.username().touched()
              "
            />
          </div>
          @if (
            loginForm.username().invalid() &&
            (loginForm.username().dirty() || loginForm.username().touched())
          ) {
            <div class="text-red-500 text-xs">{{ loginForm.username().errors()[0].message }}</div>
          }
        </div>

        <div class="flex flex-col gap-2">
          <div class="flex items-center justify-between">
            <label for="password" class="block text-sm/6 font-medium text-gray-900"
              >Mot de passe</label
            >
            <div class="text-sm">
              <a href="#" class="font-semibold text-blue-600 hover:text-blue-500"
                >Mot de passe oublié?</a
              >
            </div>
          </div>
          <div>
            <input
              pInputText
              [formField]="loginForm.password"
              type="password"
              class="block w-full"
              [class.untouched-field]="
                !loginForm.password().dirty() && !loginForm.password().touched()
              "
            />
          </div>
          @if (
            loginForm.password().invalid() &&
            (loginForm.password().dirty() || loginForm.password().touched())
          ) {
            <div class="text-red-500 text-xs">{{ loginForm.password().errors()[0].message }}</div>
          }
        </div>

        <div>
          <p-button
            type="submit"
            severity="info"
            [disabled]="loginForm().invalid()"
            styleClass="flex w-full justify-center"
          >
            S'identifier
          </p-button>
        </div>
      </form>
    </div>
  </div>
}
